<h2 class="job-title">
  Results Year {{this.selectedYear.years}}:
  <br>
  {{this.selectedYear.title}}
</h2>
<div class="results">
  <SliderControl @setYear={{action 'setYear'}} @activeYear={{this.year}} />
  <StatsBar @value={{this.selectedYear.income}} @label="INCOME" class="results-bar" />
  <StatsBar @value={{this.selectedYear.stress}} @label="STRESS" class="results-bar" />
  <StatsBar @value={{this.selectedYear.freeTime}} @label="FREE TIME" class="results-bar" />
  <StatsBar @value={{this.selectedYear.satisfaction}} @label="SATISFACTION" class="results-bar" />
  <StatsBar @value={{this.selectedYear.impact}} @label="IMPACT" class="results-bar" />
</div>
