<div class="navigation row">
  <LinkTo @route='character-select' class="sub-nav">
    HOME
  </LinkTo>
  <LinkTo @route='scenarios.scenario.stats' @model={{@model}} class="sub-nav">
    STATS
  </LinkTo>
  <LinkTo @route='scenarios.scenario.inventory' @model={{@model}} class="sub-nav">
    INVENTORY
  </LinkTo>
  <LinkTo @route='scenarios.scenario.results' @model={{@model}} class="sub-nav">
    RESULTS
  </LinkTo>
  
</div>
<div class="scenarios-content row">
  <div class="scenarios-info col-xs-12 col-md-4">
    <img class="animated-character" src="/images/scenario-anim-{{@model.id}}.gif">
    <h3>"{{@model.motto}}"</h3>
    {{#if this.onResults}}
      <div class="scenario-name">
        <h1>{{@model.name}}</h1>
      </div>
      <h4 class="track-name">Track: {{@model.track}}</h4>
    {{/if}}
  </div>
  <div class="scenarios-graphs col-xs-12 col-md-8">
    {{outlet}}
  </div>
</div>
